/*PC用のスタイル */
  
* {
  box-sizing: border-box;
}

body {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 15px;
}

/* ヘッダー */
header {
display: flex;
justify-content: space-between;
align-items: center;
}

/* ナビゲーションのレイアウト */
#nav-pc, a {
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  color: #04414A;
}
  
/* ナビゲーションのリンクの装飾設定 */
a:hover {
text-decoration: underline;
}

/*  メインビジュアル  */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #04414A;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 0 0 150px 0;
  max-width: 620px;
  z-index: 11;
}

#mein-message, h1{
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px; 
}

#mein-message, p {
  font-size: 28px;
  margin: 0 0 0 50px; 
}

#coffee-visual {
  max-width: 600px;  
  position: absolute; 
  top: 0;
  right: 0; 
  z-index: 10;
}

/* コンセプトセクション */
h2 {
  margin: 40px 0 0 0;
}

h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}

h3 { 
  font-size: 27px;
}

#concept {
margin: 80px auto;

}

#concept-flex {
display: flex;
text-align: center;
}

#concept-flex > div {
 
width: 50%;
margin: 20px;
}

.concept-photo {
width: 80%;
}

/* 商品セクション */
#product {
  background-color: #fafafa;
  margin: 20px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

#product > div {
  margin-top: 40px;
  display: flex;
}

#product-left {
  width: 50%;
  margin: 0 20px 0 0; 
}

#product-right {
  width: 50%;
  margin: 80px 0 0 20px;
}

#product-left > div {
  position: relative;
  height: 480px;
  margin: 0 20px 0 0;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin: 0 0 0 20px;
}

.product-photo {
  width: 100%;
 }

.product-explain {
  background-color: #ffffff;
  position: absolute; 
  left: 0; 
  bottom: 50px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}

.product-explain > span {
  color: #04414A;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.product-explain > h3 {
  margin: 5px 0 5px 0; 
}

.product-explain > p {
  margin: 0;
}



/* 会社概要セクション */
#company {
  margin: 80px auto 80px auto;
}

#company-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom-color: #04414A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}

.tableheader-first {
  border-top-color: #04414A;
  border-top-width: 1px;
  border-top-style: solid;
}

.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.cell-first {
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}



/* フッター */
footer {
  background-color: #04414A;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#footer-logo {
  margin-bottom: 30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link > a {
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}

#footer-link a:hover {

  text-decoration: underline;
}

#copyright {
  margin: 30px 0 12px;
  color: #ffffff;
  font-size: 12px;
}

#sns-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sns-footer img {
  margin: 0 10px;
}

#copyright {
  margin: 30px 0 12px;
  color: #ffffff;
  font-size: 12px;
  text-align: right; /* 右寄せ */
  width: 100%;
}
Copy



