@charset "utf-8";


html {
    font-size: 100%;
}

img {
    width: 600px;
    height: 400px;
    margin: 20px 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    padding-bottom: 20px;
}


.horizontal-items {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .item {
	padding: 0 10px;
    }
}